# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Django
db.sqlite3

# Node.js
node_modules/
.next/
out/
dist/
coverage/
